

.customer-pay,
.customer-profile {
    margin-top: 5rem;
}

.product-count {
    width: 20px;
    height: 30px;
    background-color: #0d62ff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    margin-left: 10px;
}
.product-count-title {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
 
}
.margin-bottom {
    margin-bottom: 20px;
}