.add_product {
  .heading--secondary {
    margin-right: 1rem;
  }
}

.products-discount-tag  {
  margin-left: 1rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  background-color: #0d62ff;
  color: #fff;
}

.products-zero-discount-tag  {
  margin-left: 1rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  background-color: #C4C4C4;
}